<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdanielgarcia.gc9kt3a">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".GCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_geologo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_geologo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GC9KT3A">
        <activity
            android:name="com.fdanielgarcia.gc9kt3a.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GC9KT3A.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>